.modal-background {
  z-index: 9000;
  background-color: rgb(100,100,100);
  background-color: rgba(100,100,100,.8); /* Black w/ opacity */
  position: fixed;
  min-width: 100%;
  min-height: 100%;
}

.modal-content {
  z-index: 9001;
  background-color: rgba(20, 20, 30, .95);
  color: rgb(220, 220, 220);
  width: 50%;
  margin: 10% auto;
}

.modal-content, .modal-content p {
  font-family: 'Cinzel', serif;
  font-size: 20px;
  font-weight: bold;
}

.modal-content .btn-outline-secondary {
  font-family: 'Righteous', cursive;
}

.modal-content .btn-outline-secondary {
  color: rgb(220, 220, 220) !important;
}

@media (max-width: 767.98px) {
  .modal-content {
    margin: 15% auto;
    width: 80%;
  }
}