.modal-background {
  z-index: 9000;
  background-color: rgb(100,100,100);
  background-color: rgba(100,100,100,.8); /* Black w/ opacity */
  position: fixed;
  min-width: 100%;
  min-height: 100%;
}

.modal-content {
  z-index: 9001;
  min-width: 50%;
  margin: 15% auto;
}

@media (max-width: 767.98px) {
  .modal-content {
    margin: 15% auto;
    min-width: 80%;
  }
}