.placeholder {
  height: 0;
  padding-bottom: 100%;
}

.friend-card {
  animation-duration: .5s;
  background-color: beige;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 180px;
}

.friend-card:hover {
  animation-name: pulse;
}